.maincaixas{
    width: 92%;
    height: 700px;
    margin: auto;
    margin-top: 70px;
}

.sectcaixas{
    display: grid;
    grid-template-columns: 25% 26% 25% 26%;
}

.caixas{
    height: 550px;
    display: flex;
    justify-content: center;
}

.caixas1, .caixas2, .caixas3, .caixas4, .caixas5, .caixas6, .caixas7, .caixas8, .caixas9, .caixas10, .caixas11, .caixas12{
    height: 550px;
    display: flex;
    justify-content: center;
}

div.caixas1:hover .imgcaixa{
    content: url('../imagens/acessorios/Acessorios_hover/necessarie_lona_crua_1000x1000px-2.webp');
    cursor: pointer;
}

div.caixas2:hover .imgcaixa{
    content: url('../imagens/acessorios/sacola_roxa.png');
    cursor: pointer;
}
div.caixas3:hover .imgcaixa{
    content: url('../imagens/acessorios/Acessorios_hover/necessaire-porta-oleos-pequena-costela-de-adao-phytoterapica-03.webp');
    cursor: pointer;
}
div.caixas4:hover .imgcaixa{
    content: url('../imagens/acessorios/sacola-phytoterapica-g.jpg');
    cursor: pointer;
}
div.caixas5:hover .imgcaixa{
    content: url('../imagens/acessorios/Acessorios_hover/caixa-madeira-marchetaria-clara-20-divisorias-sem-alca-phytoterapica-1000x1000-cinza-B.webp');
    cursor: pointer;
}
div.caixas6:hover .imgcaixa{
    content: url('../imagens/acessorios/Acessorios_hover/caixa_de_madeira_escura_-_20_divis_rias_sem_al_a_-_phytoterapica_aberta_.webp');
    cursor: pointer;
}
div.caixas7:hover .imgcaixa{
    content: url('../imagens/acessorios/valvula-pump-embalagem-500ml-phytoterapica.jpg');
    cursor: pointer;
}
div.caixas8:hover .imgcaixa{
    content: url('../imagens/acessorios/Acessorios_hover/Mockup_Caixa_Presente_Porta_OleosEssenciais_aberto_cinza.webp');
    cursor: pointer;
}
div.caixas9:hover .imgcaixa{
    content: url('../imagens/acessorios/Acessorios_hover/caixa_de_madeira_clara_-_35_divis_rias_com_al_a_-_phytoterapica_close_.webp');
    cursor: pointer;
}
div.caixas10:hover .imgcaixa{
    content: url('../imagens/acessorios/Acessorios_hover/caixa_de_madeira_escura_-_35_divis_rias_com_al_a_-_phytoterapica_aberta_.webp');
    cursor: pointer;
}
div.caixas11:hover .imgcaixa{
    content: url('../imagens/acessorios/sacola-presente-alca-vazada-phytoterapica.jpg');
    cursor: pointer;
}

.imgcaixa{
    width: 330px;
    height: 350px;
}

.preco{
    color: #98B148;
    font-weight: bold;
    margin-top: 0px;
}

.precoprodutodesconto{
    color: #98B148;
    font-weight: bold;
    margin-top: 0;
}

.caixalinhadesconto{
    height: 20px;
}

.linhadesconto{
    text-decoration: line-through;

}

.legendaimg{
    display: flex;
    justify-content: left;
    height: 25px;
    width: 85%;
}

.textoparcela{
    margin-top: -20px;
}
