.maincaixas{
    width: 92%;
    height: 700px;
    margin: auto;
    margin-top: 70px;
}

.sectcaixas{
    display: grid;
    grid-template-columns: 25% 26% 25% 26%;
}

.caixas{
    height: 550px;
    display: flex;
    justify-content: center;
}

.caixas1, .caixas2, .caixas3, .caixas4, .caixas5, .caixas6, .caixas7, .caixas8, .caixas9, .caixas10, .caixas11, .caixas12{
    height: 550px;
    display: flex;
    justify-content: center;
}

div.caixas1:hover .imgcaixa{
    content: url('../imagens/aromatizadores/Aromatizantes_Hover/Mockup_Aromatizador_produto_cinza.webp');
    cursor: pointer;
}

div.caixas2:hover .imgcaixa{
    content: url('../imagens/aromatizadores/Aromatizantes_Hover/feltros_11.webp');
    cursor: pointer;
}
div.caixas3:hover .imgcaixa{
    content: url('../imagens/aromatizadores/Aromatizantes_Hover/feltros_11.webp');
    cursor: pointer;
}
div.caixas4:hover .imgcaixa{
    content: url('../imagens/aromatizadores/Aromatizantes_Hover/Mockup_Difusor_de_Aromas_cinza.webp');
    cursor: pointer;
}
div.caixas5:hover .imgcaixa{
    content: url('../imagens/aromatizadores/aromatizador_pessoal_coracao_rosa_-_ceramica_-_phytoterapica.jpg');
    cursor: pointer;
}
div.caixas6:hover .imgcaixa{
    content: url('../imagens/aromatizadores/aromatizador_pessoal_caldeirao_azul_-_ceramica_-_phytoterapica.jpg');
    cursor: pointer;
}
div.caixas7:hover .imgcaixa{
    content: url('../imagens/aromatizadores/aromatizador_ultrassonico.jpg');
    cursor: pointer;
}
div.caixas8:hover .imgcaixa{
    content: url('../imagens/aromatizadores/Aromatizantes_Hover/feltros_11.webp');
    cursor: pointer;
}

.imgcaixa{
    width: 330px;
    height: 350px;
}

.preco{
    color: #98B148;
    font-weight: bold;
    margin-top: 0px;
}

.precoprodutodesconto{
    color: #98B148;
    font-weight: bold;
    margin-top: 0;
}

.caixalinhadesconto{
    height: 20px;
}

.linhadesconto{
    text-decoration: line-through;

}

.legendaimg{
    display: flex;
    justify-content: left;
    height: 25px;
    width: 85%;
}

.textoparcela{
    margin-top: -20px;
}
