.maincaixas{
    width: 92%;
    height: 700px;
    margin: auto;
    margin-top: 70px;
}

.sectcaixas{
    display: grid;
    grid-template-columns: 25% 26% 25% 26%;
}

.caixas{
    height: 550px;
    display: flex;
    justify-content: center;
}

.caixas1, .caixas2, .caixas3, .caixas4, .caixas5, .caixas6, .caixas7, .caixas8, .caixas9, .caixas10, .caixas11, .caixas12{
    height: 550px;
    display: flex;
    justify-content: center;
}

div.caixas1:hover .imgcaixa{
    content: url('../imagens/naturais/Comseticos_naturais_hover/sangue_de_drag_o_conta_gotas_caixa_phytoter_pica.webp');
    cursor: pointer;
}

div.caixas2:hover .imgcaixa{
    content: url('../imagens/naturais/argila_branca_200g_-_phytoterapica.jpg');
    cursor: pointer;
}
div.caixas3:hover .imgcaixa{
    content: url('../imagens/naturais/argila-verde-200g-phytoterapica_2.jpg');
    cursor: pointer;
}
div.caixas4:hover .imgcaixa{
    content: url('../imagens/naturais/argila_amarela_200g_-_phytoterapica.jpg');
    cursor: pointer;
}
div.caixas5:hover .imgcaixa{
    content: url('../imagens/naturais/melaleuca.jpg');
    cursor: pointer;
}
div.caixas6:hover .imgcaixa{
    content: url('../imagens/naturais/argila_vermelha_200g_-_phytoterapica.jpg');
    cursor: pointer;
}
div.caixas7:hover .imgcaixa{
    content: url('../imagens/naturais/lemongrass.jpg');
    cursor: pointer;
}
div.caixas8:hover .imgcaixa{
    content: url('../imagens/naturais/creme_base_neutra_240g_-_phytoterapica.jpg');
    cursor: pointer;
}
div.caixas9:hover .imgcaixa{
    content: url('../imagens/naturais/argila_preta_200g_-_phytoterapica.jpg');
    cursor: pointer;
}
div.caixas10:hover .imgcaixa{
    content: url('../imagens/naturais/extrato-aloe-vera-210ml-phytoterapica_1.jpg');
    cursor: pointer;
}
div.caixas11:hover .imgcaixa{
    content: url('../imagens/naturais/Comseticos_naturais_hover/mockup-desodorante-vegano-spray-true-60ml-phytoterapica-frasco-f6f6f6.webp');
    cursor: pointer;
}
div.caixas12:hover .imgcaixa{
    content: url('../imagens/naturais/Comseticos_naturais_hover/mockup-desodorante-vegano-spray-hill-60ml-phytoterapica-frasco-f6f6f6.webp');
    cursor: pointer;
}
.imgcaixa{
    width: 330px;
    height: 350px;
}

.preco{
    color: #98B148;
    font-weight: bold;
    margin-top: 0px;
}

.precoprodutodesconto{
    color: #98B148;
    font-weight: bold;
    margin-top: 0;
}

.caixalinhadesconto{
    height: 20px;
}

.linhadesconto{
    text-decoration: line-through;

}

.legendaimg{
    display: flex;
    justify-content: left;
    height: 25px;
    width: 85%;
}

.textoparcela{
    margin-top: -20px;
}
