.maincaixas{
    width: 92%;
    height: 700px;
    margin: auto;
    margin-top: 70px;
}

.sectcaixas{
    display: grid;
    grid-template-columns: 25% 26% 25% 26%;
}

.caixas{
    height: 550px;
    display: flex;
    justify-content: center;
}

.caixas1, .caixas2, .caixas3, .caixas4, .caixas5, .caixas6, .caixas7, .caixas8, .caixas9, .caixas10, .caixas11, .caixas12{
    height: 550px;
    display: flex;
    justify-content: center;
}

div.caixas1:hover .imgcaixa{
    content: url('../imagens/sinergias/Sinergia_hover/composto_essencial_equilibrium_15ml_-_phytoter_pica_1_.webp');
    cursor: pointer;
}

div.caixas2:hover .imgcaixa{
    content: url('../imagens/sinergias/Sinergia_hover/ce_citrinos_15ml_2.webp');
    cursor: pointer;
}
div.caixas3:hover .imgcaixa{
    content: url('../imagens/sinergias/E-commerce_Mockups.jpg');
    cursor: pointer;
}
div.caixas4:hover .imgcaixa{
    content: url('../imagens/sinergias/Sinergia_hover/composto_essencial_inspire_enfance_15ml_-_phytoter_pica_1_.webp');
    cursor: pointer;
}
div.caixas5:hover .imgcaixa{
    content: url('../imagens/sinergias/E-commerce_Mockups2.jpg');
    cursor: pointer;
}
div.caixas6:hover .imgcaixa{
    content: url('../imagens/sinergias/E-commerce_Mockups3.jpg');
    cursor: pointer;
}
div.caixas7:hover .imgcaixa{
    content: url('../imagens/sinergias/Sinergia_hover/mockup_Defense.webp');
    cursor: pointer;
}
div.caixas8:hover .imgcaixa{
    content: url('../imagens/sinergias/Sinergia_hover/composto-essencial-harmonize-rollon-10ml-phytoterapica-02.webp');
    cursor: pointer;
}
div.caixas9:hover .imgcaixa{
    content: url('../imagens/sinergias/Sinergia_hover/composto-essencial-focalize-rollon-10ml-phytoterapica-02.webp');
    cursor: pointer;
}
div.caixas10:hover .imgcaixa{
    content: url('../imagens/sinergias/Sinergia_hover/composto_essencial_relax_15ml.webp');
    cursor: pointer;
}
div.caixas11:hover .imgcaixa{
    content: url('../imagens/sinergias/Sinergia_hover/composto_essencial_inspire_15ml_-_phytoterapica_1_.webp');
    cursor: pointer;
}
div.caixas12:hover .imgcaixa{
    content: url('../imagens/sinergias/Sinergia_hover/mockup_Mouvement.webp');
    cursor: pointer;
}
.imgcaixa{
    width: 330px;
    height: 350px;
}

.preco{
    color: #98B148;
    font-weight: bold;
    margin-top: 0px;
}

.precoprodutodesconto{
    color: #98B148;
    font-weight: bold;
    margin-top: 0;
}

.caixalinhadesconto{
    height: 20px;
}

.linhadesconto{
    text-decoration: line-through;

}

.legendaimg{
    display: flex;
    justify-content: left;
    height: 25px;
    width: 85%;
}

.textoparcela{
    margin-top: -20px;
}
